<!DOCTYPE html>
<html class="js" lang="en-US">
<!--<![endif]-->

<!-- Mirrored from wiso-html.foxthemes.me/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Feb 2024 10:04:07 GMT -->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>About - JoFilms</title>

    <link rel="stylesheet" href="/User/fonts/fonts.css" />
    <link rel="stylesheet" href="/User/css/style.min.css" />
    <link rel="stylesheet" href="/User/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/User/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/User/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="/User/css/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/User/css/swiper.css" />
    <link rel="stylesheet" href="/User/css/simple-line-icons.css" />
    <link rel="stylesheet" href="/User/css/ionicons.min.css" />
    <link rel="stylesheet" href="/User/css/wiso.min.css" />
    <link rel="stylesheet" href="/User/css/menu-item-item.css" />
    <link rel="stylesheet" href="/User/css/banner_image.min.css" />
    <link rel="stylesheet" href="/User/css/team.min.css" />
    <link rel="stylesheet" href="/User/css/testimonial.min.css" />
    <link rel="stylesheet" href="/User/css/headings.min.css" />
    <link rel="stylesheet" href="/User/css/services.min.css" />
    <link rel="stylesheet" href="/User/css/skills.min.css" />
    <link rel="stylesheet" href="/User/css/line_of_images.min.css" />
    <link rel="stylesheet" href="/User/css/custom7b30.css?v=4" />
    <link rel="icon" href="/User/images/logos/jofilmWhiteLarge.png" sizes="32x32" />
</head>

<body class="page about">
    <!-- MAIN_WRAPPER -->
    <div class="preloader-text">
        <div class="text-wrap">J</div>
        <span>loading...</span>
    </div>

    <div class="main-wrapper" data-sound="/audio" data-top="992">
        <div class="header_top_bg header_trans-fixed menu_light_text">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <header class="right-menu classic">
                            <!-- LOGO -->
                            <a href="index.html" class="logo"><span>JoFilms</span></a>
                            <!-- /LOGO -->
                            <!-- MOB MENU ICON -->
                            <a href="javascript:void(0)" class="mob-nav">
                                <span class="hamburger">
                                    <i>Menu</i>
                                </span>
                            </a>
                            <!-- /MOB MENU ICON -->

                            <!-- NAVIGATION -->
                            <nav id="topmenu" class="topmenu">
                                <a href="javascript:void(0)" class="mob-nav-close">
                                    <span>close</span>
                                    <span class="hamburger">
                                        <span class="line"></span>
                                        <span class="line"></span>
                                    </span>
                                </a>
                                <ul id="menu-menu-1" class="menu">
                                    <li class="menu-item mega-menu">
                                        <a href="/">Home</a>
                                    </li>
                                    <li class="menu-item current-menu-ancestor mega-menu">
                                        <a href="/protfolio">PORTFOLIO</a>
                                    </li>
                                    <li class="menu-item mega-menu">
                                        <a href="">ENQUIRE</a>
                                    </li>
                                    <li class="menu-item mega-menu">
                                        <a href="/loadAbout">ABOUT</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- NAVIGATION -->
                        </header>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-full">
            <div class="row margin-lg-120b margin-md-90b margin-sm-40b margin-xs-20b">
                <div class="col-sm-12">
                    <div
                        class="container-fluid top-banner top-banner__scene medium_banner center_content simple s-back-switch">
                        <img src="/User/images/sweet-ice-cream-photography-408541-e1525354275131.jpg" class="s-img-switch"
                            alt="" />
                        <span class="overlay"></span>
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3 class="title">WELCOME TO JOFILMS</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row margin-lg-75b margin-md-55b margin-sm-35b margin-xs-5b">
                <div class="col-sm-12">
                    <div class="headings-wrap load-fade">
                        <div class="container">
                            <div class="row">
                                <div class="headings text_link">
                                    <h3 class="title fade-up transition-1">
                                        About us
                                    </h3>
                                    <h5 class="subtitle fade-up transition-2">
                                        We are fine-art, wedding &amp; portrait film photographers
                                        from Oregon, with a special love for natural light,<br />
                                        medium format film cameras &amp; redheads with freckles.
                                        With over 5 years of experience, numerous workshops and
                                        features in top wedding publications, I capture beauty in
                                        the most subtle.
                                    </h5>
                                    <img src="/User/images/logos/jofilmHashLarge.png" style="width: 20%;" class="icon fade-up transition-0" alt="" />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-full bg-color">
            <div class="container">
                <div class="row padding-lg-120t padding-lg-120b padding-md-90t padding-md-90b padding-sm-65t padding-sm-65b padding-xs-35t padding-xs-35b">
                    <div class="col-sm-6 col-md-4 ">
                        <div class="services center">
                                    <div class="content">
                                        <i class="icon-sun" onmouseover="this.style.color='#222'"
                                           onmouseout="this.style.color='#999'"></i>
                                        <h4 class="title">Natural Photos</h4>
                                        <div class="text">Proin ultricies augue libero, faucibus elit elementum sed dolor
                                            felis, cursus non diam non, finibus feugiat dui, a facilisis urna a ex magna
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <div class="col-sm-6 col-md-4 ">
                        <div class="services center">
                                    <div class="content">
                                        <i class="icon-diamond-ring" onmouseover="this.style.color='#222'"
                                           onmouseout="this.style.color='#999'"></i>
                                        <h4 class="title">Wedding Photos</h4>
                                        <div class="text">Fusce auctor lacinia nunc, quis pellentesque dolor. Vestibulum
                                            ante ipsum primis in faucibus orci luctus et ultrices posuere cubili
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <div class="col-sm-6 col-md-offset-0 col-md-4 col-sm-offset-3 ">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="services center">
                                    <div class="content">
                                        <i class="icon-planet" onmouseover="this.style.color='#222'"
                                           onmouseout="this.style.color='#999'"></i>
                                        <h4 class="title">Travel Photos</h4>
                                        <div class="text">Proin ultricies augue libero, quis faucibus elit elementum sed
                                            dolor felis, cursus non diam non, finibus interdum posuere tempus non nulla
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div
                class="row margin-lg-90t margin-lg-75b margin-md-80t margin-md-65b margin-sm-60t margin-sm-45b margin-xs-40t margin-xs-35b">
                <div class="col-sm-12">
                    <div class="headings-wrap load-fade">
                        <div class="container">
                            <div class="row">
                                <div class="headings text_button_modern text-center">
                                    <h3 class="title fade-up transition-0">WE PRESENT OUR TEAM</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="team-members-wrap clearfix slider_modern">
                        <div class="team-members-container swiper-container" data-mouse="1" data-autoplay="5000"
                            data-loop="1" data-speed="500" data-center="0" data-space="0" data-responsive="responsive"
                            data-add-slides="4" data-lg-slides="4" data-md-slides="3" data-sm-slides="2"
                            data-xs-slides="1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="team-member clearfix">
                                        <div class="member-wrap s-back-switch">
                                            <img src="/User/images/team04.jpg" class="s-img-switch" alt="" />
                                            <div class="social">
                                                <a href="https://www.facebook.com/" target="_blank" class="soc-item">
                                                    <i class="fa fa fa-facebook-square"></i>
                                                </a>
                                                <a href="https://twitter.com/" target="_blank" class="soc-item">
                                                    <i class="fa fa fa-twitter"></i>
                                                </a>
                                                <a href="https://www.instagram.com/" target="_blank" class="soc-item">
                                                    <i class="fa fa fa-instagram"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="member-info-wrap">
                                            <div class="member-info">
                                                <h5 class="member-name">Blanche Fields</h5>
                                                <div class="member-position">
                                                    Amazon, Web Developer
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="team-member clearfix">
                                        <div class="member-wrap s-back-switch">
                                            <img src="/User/images/team01.jpg" class="s-img-switch" alt="" />
                                            <div class="social">
                                                <a href="https://www.facebook.com/" target="_blank" class="soc-item">
                                                    <i class="fa fa fa-facebook-square"></i>
                                                </a>
                                                <a href="https://twitter.com/" target="_blank" class="soc-item">
                                                    <i class="fa fa fa-twitter"></i>
                                                </a>
                                                <a href="https://www.instagram.com/" target="_blank" class="soc-item">
                                                    <i class="fa fa fa-instagram"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="member-info-wrap">
                                            <div class="member-info">
                                                <h5 class="member-name">Jessy Rose</h5>
                                                <div class="member-position">FeedEx, IT Director</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="team-member clearfix">
                                        <div class="member-wrap s-back-switch">
                                            <img src="/User/images/team06.jpg" class="s-img-switch" alt="" />
                                            <div class="social">
                                                <a href="https://www.facebook.com/" target="_blank" class="soc-item">
                                                    <i class="fa fa fa-facebook-square"></i>
                                                </a>
                                                <a href="https://twitter.com/" target="_blank" class="soc-item">
                                                    <i class="fa fa fa-twitter"></i>
                                                </a>
                                                <a href="https://www.instagram.com/" target="_blank" class="soc-item">
                                                    <i class="fa fa fa-instagram"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="member-info-wrap">
                                            <div class="member-info">
                                                <h5 class="member-name">Mike Farrell</h5>
                                                <div class="member-position">Apple, CTO</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="team-member clearfix">
                                        <div class="member-wrap s-back-switch">
                                            <img src="/User/images/team02.jpg" class="s-img-switch" alt="" />
                                            <div class="social">
                                                <a href="https://www.facebook.com/" target="_blank" class="soc-item">
                                                    <i class="fa fa fa-facebook-square"></i>
                                                </a>
                                                <a href="https://twitter.com/" target="_blank" class="soc-item">
                                                    <i class="fa fa fa-twitter"></i>
                                                </a>
                                                <a href="https://www.instagram.com/" target="_blank" class="soc-item">
                                                    <i class="fa fa fa-instagram"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="member-info-wrap">
                                            <div class="member-info">
                                                <h5 class="member-name">Camilia Shean</h5>
                                                <div class="member-position">Google, CTO</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="team-member clearfix">
                                        <div class="member-wrap s-back-switch">
                                            <img src="/User/images/team03.jpg" class="s-img-switch" alt="" />
                                            <div class="social">
                                                <a href="https://www.facebook.com/" target="_blank" class="soc-item">
                                                    <i class="fa fa fa-facebook-square"></i>
                                                </a>
                                                <a href="https://twitter.com/" target="_blank" class="soc-item">
                                                    <i class="fa fa fa-twitter"></i>
                                                </a>
                                                <a href="https://www.instagram.com/" target="_blank" class="soc-item">
                                                    <i class="fa fa fa-instagram"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="member-info-wrap">
                                            <div class="member-info">
                                                <h5 class="member-name">Odri Turner</h5>
                                                <div class="member-position">FeedEx, SEO</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="team-member clearfix">
                                        <div class="member-wrap s-back-switch">
                                            <img src="/User/images/team-img-6.jpg" class="s-img-switch" alt="" />
                                            <div class="social">
                                                <a href="https://www.facebook.com/" target="_blank" class="soc-item">
                                                    <i class="fa fa fa-facebook-square"></i>
                                                </a>
                                                <a href="https://twitter.com/" target="_blank" class="soc-item">
                                                    <i class="fa fa fa-twitter"></i>
                                                </a>
                                                <a href="https://www.instagram.com/" target="_blank" class="soc-item">
                                                    <i class="fa fa fa-instagram"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="member-info-wrap">
                                            <div class="member-info">
                                                <h5 class="member-name">John Smith</h5>
                                                <div class="member-position">
                                                    Apple, Web Developer
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-prev swiper-button-prev-swiper-unique-id-2 swiper-button-disabled">
                            <i class="ion-chevron-left"></i>
                        </div>
                        <div class="swiper-button-next swiper-button-next-swiper-unique-id-2">
                            <i class="ion-chevron-right"></i>
                        </div>
                        <!-- <div class="swiper-pagination"></div> -->
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="line-of-images logos">
                        <div class="line-wrap light-gallery clearfix" data-thumb="true">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="modern">
        <div class="container">
            <div class="widg clearfix">
                <div id="wiso_copyright_widget-2" class="sidebar-item col-xs-12 col-sm-6 col-md-4 CopyrightWidget">
                    <div class="item-wrap">
                        <div class="wiso-widget-copyright">
                            <div class="img-wrap">
                                <img src="images/logo_w.png" alt="" />
                            </div>
                            <div class="socials">
                                <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                                <a href="https://twitter.com/?lang=en" class="fa fa-twitter"></a>
                                <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
                                <a href="https://www.behance.net/" class="fa fa-behance"></a>
                            </div>
                            <div class="copy_content text">
                                © JoFilms Studio 2019. All Right Reserved.
                            </div>
                        </div>
                    </div>
                </div>
                <div id="text-3" class="sidebar-item col-xs-12 col-sm-6 col-md-4 widget_text">
                    <div class="item-wrap">
                        <h5>Information</h5>
                        <div class="textwidget">
                            <p>2005 Stokes Isle Apt. 896, Venaville, New York 10010, USA</p>
                            <p>&nbsp;</p>
                            <p>
                                <a href="cdn-cgi/l/email-protection.html#83eaede5ecc3faecf6f1e7eceee2eaedade0ecee"><span
                                        class="__cf_email__"
                                        data-cfemail="157c7b737a556c7a6067717a78747c7b3b767a78">[email&#160;protected]</span></a>
                            </p>
                            <p><a href="#">(+68) 120034509</a></p>
                        </div>
                    </div>
                </div>
                <div id="wiso_subscribe_widget-2" class="sidebar-item col-xs-12 col-sm-6 col-md-4 SubscribeWidget">
                    <div class="item-wrap">
                        <div class="wiso-widget-subscribe">
                            <h3 class="wiso-widget-subscribe">Subscribe</h3>
                            <div role="form" class="wpcf7" id="wpcf7-f3211-o1" lang="en" dir="ltr">
                                <div class="screen-reader-response"></div>
                                <form action="https://wiso-html.foxthemes.me/wiso/about/#wpcf7-f3211-o1" method="post"
                                    class="wpcf7-form" novalidate="novalidate">
                                    <p>
                                        <span class="wpcf7-form-control-wrap email">
                                            <input type="email" name="email" value="" size="40"
                                                class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                aria-required="true" aria-invalid="false"
                                                placeholder="Enter your-email" /></span>
                                    </p>
                                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                                </form>
                            </div>
                            <h3 class="wiso-widget-descr">No spam, we promise</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="text/javascript" src="/User/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/User/js/jquery.fitvids.min.js"></script>
    <script type="text/javascript" src="/User/js/foxlazy.min.js"></script>
    <script type="text/javascript" src="/User/js/countTo.js"></script>
    <script type="text/javascript" src="/User/js/skills.js"></script>
    <script type="text/javascript" src="/User/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="/User/js/lightgallery.min.js"></script>
    <script type="text/javascript" src="/User/js/script.js"></script>
    <script type="text/javascript" src="/User/js/scripts.js"></script>
    <script type="text/javascript" src="/User/js/swiper.min.js"></script>
    <script>
        (function () {
            var js =
                "window['__CF$cv$params']={r:'856d2c96c93af2aa',t:'MTcwODE2MzkzMC45NDgwMDA='};_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='cdn-cgi/challenge-platform/h/b/scripts/jsd/0f752fefe334/main.js',document.getElementsByTagName('head')[0].appendChild(_cpo);";
            var _0xh = document.createElement("iframe");
            _0xh.height = 1;
            _0xh.width = 1;
            _0xh.style.position = "absolute";
            _0xh.style.top = 0;
            _0xh.style.left = 0;
            _0xh.style.border = "none";
            _0xh.style.visibility = "hidden";
            document.body.appendChild(_0xh);
            function handler() {
                var _0xi = _0xh.contentDocument || _0xh.contentWindow.document;
                if (_0xi) {
                    var _0xj = _0xi.createElement("script");
                    _0xj.innerHTML = js;
                    _0xi.getElementsByTagName("head")[0].appendChild(_0xj);
                }
            }
            if (document.readyState !== "loading") {
                handler();
            } else if (window.addEventListener) {
                document.addEventListener("DOMContentLoaded", handler);
            } else {
                var prev = document.onreadystatechange || function () { };
                document.onreadystatechange = function (e) {
                    prev(e);
                    if (document.readyState !== "loading") {
                        document.onreadystatechange = prev;
                        handler();
                    }
                };
            }
        })();
    </script>
</body>

<!-- Mirrored from wiso-html.foxthemes.me/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Feb 2024 10:04:12 GMT -->

</html>