<!DOCTYPE html>
<html class="no-js" lang="en-US"> <!--<![endif]-->

<!-- Mirrored from wiso-html.foxthemes.me/contact-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Feb 2024 10:04:30 GMT -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Us &#8211; JoFilms</title>
    <link rel="stylesheet" href="/User/css/style.min.css" />
    <link rel="stylesheet" href="/User/fonts/fonts.css">
    <link rel="stylesheet" href="/User/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/User/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/User/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="/User/css/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/User/css/simple-line-icons.css" />
    <link rel="stylesheet" href="/User/css/ionicons.min.css" />
    <link rel="stylesheet" href="/User/css/wiso.min.css" />
    <link rel="stylesheet" href="/User/css/banner_image.min.css"/>

    <link rel="stylesheet" href="/User/css/menu-item-item.css" />
    <link rel="stylesheet" href="/User/css/headings.min.css" />
    <link rel="stylesheet" href="/User/css/lightgallery.min.css" />
    <link rel="stylesheet" href="/User/css/contacts.min.css" />
    <link rel="stylesheet" href="/User/css/custom6654.css?v1" />
    <link rel="icon" href="/User/images/logos/jofilmWhiteLarge.png">

<body>
    <!-- MAIN_WRAPPER -->
    <div class="preloader-text">
        <div class="text-wrap">
            J </div>
        <span>loading...</span>
    </div>

    <div class="main-wrapper ">
        <div class="header_top_bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <header class="right-menu classic">
                            <!-- LOGO -->
                            <a href="index.html" class="logo"><span>JoFilms</span></a>
                            <!-- /LOGO -->
                            <!-- MOB MENU ICON -->
                            <a href="javascript:void(0)" class="mob-nav">
                                <div class="hamburger">
                                    <i>Menu</i>
                                </div>
                            </a>
                            <!-- /MOB MENU ICON -->

                            <!-- NAVIGATION -->
                            <nav id="topmenu" class="topmenu">
                                <a href="javascript:void(0)" class="mob-nav-close">
                                    <span>close</span>
                                    <div class="hamburger">
                                        <span class="line"></span>
                                        <span class="line"></span>
                                    </div>
                                </a>
                                <ul id="menu-menu-1" class="menu">
                                    <li class="menu-item current-menu-ancestor mega-menu">
                                        <a href="/">Home</a>
                                    </li>
                                    <li class="menu-item mega-menu">
                                        <a href="/protfolio">PORTFOLIO</a>
                                    </li>
                                    <li class="menu-item mega-menu">
                                        <a href="/contact">ENQUIRE</a>
                                    </li>
                                    <li class="menu-item mega-menu">
                                        <a href="/loadAbout">ABOUT</a>
                                    </li>
                                </ul>
                                
                            </nav>
                            <!-- NAVIGATION -->
                        </header>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-full">
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="container-fluid top-banner top-banner__scene medium_banner center_content simple s-back-switch">
                                <img src="/User/images/angelo-lacancellera-471042-unsplash.jpg" class="s-img-switch"
                                     alt="">
                                <span class="overlay"></span>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h3 class="title">Contact us</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 100px;">
            <div class="row margin-lg-110b margin-sm-60b margin-xs-40b">
                <div class="col-sm-12 ">
                    <div class="contacts-info-wrap info_with_form over">


                        <div class="container no-padd">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="content-wrap">
                                        <div class="content-item">
                                            <h5 class="title">
                                                Address: </h5>
                                            <div class="address">14 Tottenham Road,
                                                London, England
                                            </div>
                                        </div>
                                        <div class="content-item">
                                            <h5 class="title">
                                                Information: </h5>
                                            <div class="address"><a href="#"><span class="__cf_email__"
                                                        data-cfemail="99f0f7fff6d9e0f6ecebfdf6f4f8f0f7b7faf6f4"><span
                                                            class="__cf_email__"
                                                            data-cfemail="93fafdf5fcd3eafce6e1f7fcfef2fafdbdf0fcfe">[email&#160;protected]</span></span></a>
                                                <a href="tel:+6812004509">(+68) 12004509</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-8">
                                    <div class="form btn-style-1 padding-xs-25b">
                                        <div role="form" class="wpcf7" id="wpcf7-f3290-p3444-o1" lang="en" dir="ltr">
                                            <div class="screen-reader-response"></div>
                                            <form method="post" class="wpcf7-form" novalidate="novalidate">
                                                <p><span class="wpcf7-form-control-wrap name"><input type="text"
                                                            name="name" value="" size="40"
                                                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                            aria-required="true" aria-invalid="false"
                                                            placeholder="Your name" /></span><span
                                                        class="wpcf7-form-control-wrap email"><input type="email"
                                                            name="email" value="" size="40"
                                                            class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                            aria-required="true" aria-invalid="false"
                                                            placeholder="Your e-mail" /></span><br />
                                                    <span class="wpcf7-form-control-wrap textarea"><textarea
                                                            name="textarea" cols="40" rows="10"
                                                            class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required"
                                                            aria-required="true" aria-invalid="false"
                                                            placeholder="Your message"></textarea></span><br />
                                                    <input type="submit" value="Send"
                                                        class="wpcf7-form-control wpcf7-submit" />
                                                </p>
                                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class=" modern">
        <div class="container">
            <div class="widg clearfix">
                <div id="wiso_copyright_widget-2" class="sidebar-item col-xs-12 col-sm-6 col-md-4 CopyrightWidget">
                    <div class="item-wrap">
                        <div class="wiso-widget-copyright">
                            <div class="img-wrap">
                                <img src="images/logo_w.png" alt="">
                            </div>
                            <div class="socials">
                                <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                                <a href="https://twitter.com/?lang=en" class="fa fa-twitter"></a>
                                <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
                                <a href="https://www.behance.net/" class="fa fa-behance"></a>
                            </div>
                            <div class="copy_content text">© JoFilms Studio 2019. All Right Reserved.</div>
                        </div>
                    </div>
                </div>
                <div id="text-3" class="sidebar-item col-xs-12 col-sm-6 col-md-4 widget_text">
                    <div class="item-wrap">
                        <h5>Information</h5>
                        <div class="textwidget">
                            <p>2005 Stokes Isle Apt. 896, Venaville, New York 10010, USA</p>
                            <p>&nbsp;</p>
                            <p><a href="cdn-cgi/l/email-protection.html#a6cfc8c0c9e6dfc9d3d4c2c9cbc7cfc888c5c9cb"><span
                                        class="__cf_email__"
                                        data-cfemail="1871767e775861776d6a7c7775797176367b7775">[email&#160;protected]</span></a>
                            </p>
                            <p><a href="#">(+68) 120034509</a></p>
                        </div>
                    </div>
                </div>
                <div id="wiso_subscribe_widget-2" class="sidebar-item col-xs-12 col-sm-6 col-md-4 SubscribeWidget">
                    <div class="item-wrap">
                        <div class="wiso-widget-subscribe">
                            <h3 class="wiso-widget-subscribe">Subscribe</h3>
                            <div role="form" class="wpcf7" id="wpcf7-f3211-o1" lang="en" dir="ltr">
                                <div class="screen-reader-response"></div>
                                <form action="https://wiso-html.foxthemes.me/wiso/services/#wpcf7-f3211-o1"
                                    method="post" class="wpcf7-form" novalidate="novalidate">
                                    <p><span class="wpcf7-form-control-wrap email"><input type="email" name="email"
                                                value="" size="40"
                                                class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                aria-required="true" aria-invalid="false"
                                                placeholder="Enter your-email"></span></p>
                                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                                </form>
                            </div>
                            <h3 class="wiso-widget-descr">No spam, we promise</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('.wpcf7-form');
    
            form.addEventListener('submit', async function (event) {
                event.preventDefault();
    
                // Validation
                const name = document.querySelector('input[name="name"]').value.trim();
                const email = document.querySelector('input[name="email"]').value.trim();
                const message = document.querySelector('textarea[name="textarea"]').value.trim();
    
                if (!name || !email || !message) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Please fill out all fields!',
                    });
                    return;
                }
    
                // Sending Data to Backend
                try {
                    const response = await axios.post('/contact', {
                        name: name,
                        email: email,
                        message: message
                    });
    
                    // Handle success response
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: 'Your message has been sent.',
                    });
                    
                    // Clear form fields
                    form.reset();
                } catch (error) {
                    // Handle error response
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong. Please try again later.',
                    });
                }
            });
        });
    </script>

    <script type="text/javascript" src="/User/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/User/js/jquery.fitvids.min.js"></script>
    <script type="text/javascript" src="/User/js/foxlazy.min.js"></script>
    <script type="text/javascript" src="/User/js/instagram.js"></script>
    <script type="text/javascript" src="/User/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="/User/js/lightgallery.min.js"></script>
    <script type="text/javascript" src="/User/js/script.js"></script>
    <script type="text/javascript" src="/User/js/scripts.js"></script>
    <script type="text/javascript" src="/User/js/imagesloaded.min.js"></script>
    
    <script>(function () { var js = "window['__CF$cv$params']={r:'856d2ca9a8dd859f',t:'MTcwODE2MzkzNC4wMTQwMDA='};_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='cdn-cgi/challenge-platform/h/b/scripts/jsd/0f752fefe334/main.js',document.getElementsByTagName('head')[0].appendChild(_cpo);"; var _0xh = document.createElement('iframe'); _0xh.height = 1; _0xh.width = 1; _0xh.style.position = 'absolute'; _0xh.style.top = 0; _0xh.style.left = 0; _0xh.style.border = 'none'; _0xh.style.visibility = 'hidden'; document.body.appendChild(_0xh); function handler() { var _0xi = _0xh.contentDocument || _0xh.contentWindow.document; if (_0xi) { var _0xj = _0xi.createElement('script'); _0xj.innerHTML = js; _0xi.getElementsByTagName('head')[0].appendChild(_0xj); } } if (document.readyState !== 'loading') { handler(); } else if (window.addEventListener) { document.addEventListener('DOMContentLoaded', handler); } else { var prev = document.onreadystatechange || function () { }; document.onreadystatechange = function (e) { prev(e); if (document.readyState !== 'loading') { document.onreadystatechange = prev; handler(); } }; } })();</script>
</body>

<!-- Mirrored from wiso-html.foxthemes.me/contact-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Feb 2024 10:04:31 GMT -->

</html>