<!DOCTYPE html>
<html class="js" lang="en-US">
<!--<![endif]-->

<!-- Mirrored from wiso-html.foxthemes.me/my-2017-wedding-favourites.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Feb 2024 10:05:21 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My 2017 wedding favourites - JoFilms</title>

    <link rel="stylesheet" href="/User/css/style.min.css"/>
    <link rel="stylesheet" href="/User/fonts/fonts.css">
    <link rel="stylesheet" href="/User/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/User/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/User/css/pe-icon-7-stroke.css"/>
    <link rel="stylesheet" href="/User/css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/User/css/simple-line-icons.css"/>
    <link rel="stylesheet" href="/User/css/ionicons.min.css"/>
    <link rel="stylesheet" href="/User/css/wiso.min.css"/>
    <link rel="stylesheet" href="/User/css/menu-item-item.css"/>
    <link rel="stylesheet" href="/User/css/headings.min.css"/>
    <link rel="stylesheet" href="/User/css/custom.css"/>
    <link rel="stylesheet" href="/User/css/lightgallery.min.css"/>
    <link rel="stylesheet" href="/User/css/blog.min.css"/>
    <link rel="stylesheet" href="/User/css/style.css"/>
    <link rel="stylesheet" href="/User/css/events.min.css"/>
    <link rel="icon" href="/User/images/logos/jofilmWhiteLarge.png" sizes="32x32">
</head>

<body>
<!-- MAIN_WRAPPER -->
<div class="preloader-text">
    <div class="text-wrap">J</div>
    <span>loading...</span>
</div>

<div class="main-wrapper">
    <div class="header_top_bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <header class="right-menu classic">
                        <!-- LOGO -->
                        <a href="index.html" class="logo"><span>JoFilms</span></a>
                        <!-- /LOGO -->
                        <!-- MOB MENU ICON -->
                        <a href="javascript:void(0)" class="mob-nav">
                            <div class="hamburger">
                                <i>Menu</i>
                            </div>
                        </a>
                        <!-- /MOB MENU ICON -->

                        <!-- NAVIGATION -->
                        <nav id="topmenu" class="topmenu">
                            <a href="javascript:void(0)" class="mob-nav-close">
                                <span>close</span>
                                <div class="hamburger">
                                    <span class="line"></span>
                                    <span class="line"></span>
                                </div>
                            </a>
                            <ul id="menu-menu-1" class="menu">
                                <li class="menu-item current-menu-ancestor mega-menu">
                                    <a href="/">Home</a>
                                </li>
                                <li class="menu-item mega-menu">
                                    <a href="/protfolio">PORTFOLIO</a>
                                </li>
                                <li class="menu-item mega-menu">
                                    <a href="/contact">ENQUIRE</a>
                                </li>
                                <li class="menu-item mega-menu">
                                    <a href="/loadAbout">ABOUT</a>
                                </li>
                              </ul>
                        </nav>
                        <!-- NAVIGATION -->
                    </header>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid portfolio-single-content full_screen ">
        <div class="light-gallery">
            <% galleryData.forEach((data)=>{%>
                 <div class="gallery-item-wrap col-4 default">
                <a href="/gallery/<%= data.image %>" class="gallery-item  s-back-switch">
                    <img src="/gallery/<%= data.image %>" class="s-img-switch" alt="">
                </a>
                <!-- <span class="caption">
                    <span>Lucienta</span>
                </span> -->
            </div>
                <%}) %>
           
        </div>
    </div>
</div>
<footer id="footer" class=" modern">
    <div class="container">
        <div class="widg clearfix">
            <div id="wiso_copyright_widget-2" class="sidebar-item col-xs-12 col-sm-6 col-md-4 CopyrightWidget">
                <div class="item-wrap">
                    <div class="wiso-widget-copyright">
                        <div class="img-wrap">
                            <img src="/User/images/logos/jofilmWhiteLarge.png" alt="">
                        </div>
                        <div class="socials">
                            <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                            <a href="https://twitter.com/?lang=en" class="fa fa-twitter"></a>
                            <a href="https://www.instagram.com/jofilms_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="fa fa-instagram"></a>
                            <a href="https://www.behance.net/" class="fa fa-behance"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="text-3" class="sidebar-item col-xs-12 col-sm-6 col-md-4 widget_text">
                <div class="item-wrap">
                    <h5>Information</h5>
                    <div class="textwidget"><p>2005 Stokes Isle Apt. 896, Venaville, New York 10010, USA</p>
                        <p>&nbsp;</p>
                        <p><a href="cdn-cgi/l/email-protection.html#771e191118370e18020513181a161e195914181a"><span class="__cf_email__" data-cfemail="462f282029063f29333422292b272f286825292b">[email&#160;protected]</span></a></p>
                        <p><a href="#">(+68) 120034509</a></p>
                    </div>
                </div>
            </div>
            <div id="wiso_subscribe_widget-2" class="sidebar-item col-xs-12 col-sm-6 col-md-4 SubscribeWidget">
                <div class="item-wrap">
                    <div class="wiso-widget-subscribe">
                        <h3 class="wiso-widget-subscribe">Subscribe</h3>
                        <div role="form" class="wpcf7" id="wpcf7-f3211-o1" lang="en" dir="ltr">
                            <div class="screen-reader-response"></div>
                            <form action="/contact" method="get" class="wpcf7-form"
                                  novalidate="novalidate">

                                <p><span class="wpcf7-form-control-wrap email"><input type="email" name="email" value=""
                                                                                      size="40"
                                                                                      class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                                      aria-required="true"
                                                                                      aria-invalid="false"
                                                                                      placeholder="Enter your-email"></span>
                                </p>
                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/javascript" src="/User/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/User/js/jquery.fitvids.min.js"></script>
<script type="text/javascript" src="/User/js/foxlazy.min.js"></script>
<script type="text/javascript" src="/User/js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="/User/js/lightgallery.min.js"></script>
<script type="text/javascript" src="/User/js/script.js"></script>
<script type="text/javascript" src="/User/js/scripts.js"></script>
<script type="text/javascript" src="/User/js/imagesloaded.min.js"></script>
<script>(function(){var js = "window['__CF$cv$params']={r:'856d2ce8c869f2aa',t:'MTcwODE2Mzk0NC4wNjYwMDA='};_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='cdn-cgi/challenge-platform/h/b/scripts/jsd/0f752fefe334/main.js',document.getElementsByTagName('head')[0].appendChild(_cpo);";var _0xh = document.createElement('iframe');_0xh.height = 1;_0xh.width = 1;_0xh.style.position = 'absolute';_0xh.style.top = 0;_0xh.style.left = 0;_0xh.style.border = 'none';_0xh.style.visibility = 'hidden';document.body.appendChild(_0xh);function handler() {var _0xi = _0xh.contentDocument || _0xh.contentWindow.document;if (_0xi) {var _0xj = _0xi.createElement('script');_0xj.innerHTML = js;_0xi.getElementsByTagName('head')[0].appendChild(_0xj);}}if (document.readyState !== 'loading') {handler();} else if (window.addEventListener) {document.addEventListener('DOMContentLoaded', handler);} else {var prev = document.onreadystatechange || function () {};document.onreadystatechange = function (e) {prev(e);if (document.readyState !== 'loading') {document.onreadystatechange = prev;handler();}};}})();</script></body>

<!-- Mirrored from wiso-html.foxthemes.me/my-2017-wedding-favourites.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Feb 2024 10:05:26 GMT -->
</html>