<%-include("../admin/leyouts/header.ejs")%>
  <style>
    .container {
      padding: 50px 10%;
    }

    .box {
      position: relative;
      background: #ffffff;
      width: 100%;
    }

    .box-header {
      color: #444;
      display: block;
      padding: 10px;
      position: relative;
      border-bottom: 1px solid #f4f4f4;
      margin-bottom: 10px;
    }

    .box-tools {
      position: absolute;
      right: 10px;
      top: 5px;
    }

    .dropzone-wrapper {
      border: 2px dashed #91b0b3;
      color: #92b0b3;
      position: relative;
      height: 150px;
    }

    .dropzone-desc {
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      text-align: center;
      width: 40%;
      top: 50px;
      font-size: 16px;
    }

    .dropzone,
    .dropzone:focus {
      position: absolute;
      outline: none !important;
      width: 100%;
      height: 150px;
      cursor: pointer;
      opacity: 0;
    }

    .dropzone-wrapper:hover,
    .dropzone-wrapper.dragover {
      background: #ecf0f5;
    }

    .preview-zone {
      text-align: center;
    }

    .preview-zone .box {
      box-shadow: none;
      border-radius: 0;
      margin-bottom: 0;
    }
  </style>

  <div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
              <h4 class="mb-sm-0">Form File Upload</h4>
            </div>
          </div>
        </div>
        <!-- end page title -->

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <section>
                  <form id="imageForm" action="" method="POST" enctype="multipart/form-data">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <div class="dropzone-wrapper">
                              <div class="dropzone-desc">
                                <i class="glyphicon glyphicon-download-alt"></i>
                                <p>Choose an image file or drag it here.</p>
                              </div>
                              <input id="imageInput" type="file" name="image" accept="image/*" class="dropzone" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <button type="button" id="addBanner" class="btn btn-primary pull-right">
                            Upload
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </section>
              </div>
            </div>
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->

        <div class="row">
          <% if(bannerData.length>0){%>
            <%bannerData.forEach((data)=>{%>
          <div class="col-md-6 col-xl-3">
                <!-- Simple card -->
                <div class="card">
                  <img class="card-img-top img-fluid" src="/banner/<%= data.image%>" alt="Card image cap" />
                  <div class="card-body">
                    <a class="btn btn-danger waves-effect waves-light" onclick="deleteBanner('<%= data._id %>')" >Delete</a>
                  </div>
                </div>
              </div>
              <%})%>
            <%} %>
              <!-- end col -->
    
            </div>
        
      </div>
      <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <div class="text-sm-end d-none d-sm-block">
              Crafted with <i class="mdi mdi-heart text-danger"></i> by
              <a>BashOps</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- end main content-->

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Your JavaScript code here
      document
        .getElementById("addBanner")
        .addEventListener("click", async function (e) {
          e.preventDefault();

          const imageInput = document.getElementById("imageInput");

          const image = imageInput.files.length > 0 ? imageInput.files[0] : null;

          if (!image) {
            Swal.fire({
              icon: "error",
              title: "Oops...",
              text: "Banner image is required.",
            });
          } else {
            try {
              // Create a FormData object and append the original image file
              const formData = new FormData();
              formData.append("image", image);

              // Send the original image data to the server
              const response = await axios.post("/admin/addBanner", formData, {
                headers: {
                  "Content-Type": "multipart/form-data",
                },
              });

              if (response.data.imageIssue) {
                Swal.fire({
                  icon: "error",
                  title: "Oops...",
                  text: "Sorry, your image has some issue. Please try again.",
                });
              } else if (response.data.success) {
                const Toast = Swal.mixin({
                  toast: true,
                  position: "top-end",
                  showConfirmButton: false,
                  timer: 3000,
                });

                Toast.fire({
                  icon: "success",
                  title: "Banner Added.",
                });
                setTimeout(() => {
                  window.location.href = "/admin/banner";
                }, 3000);
              }
            } catch (error) {
              console.error("Error uploading image:", error);
              Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Sorry, there was an error uploading the image. Please try again.",
              });
            }
          }
        });
    });
</script>

  <script>
    function readFile(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          var htmlPreview =
            '<img width="200" src="' +
            e.target.result +
            '" />' +
            "<p>" +
            input.files[0].name +
            "</p>";
          var wrapperZone = $(input).parent();
          var previewZone = $(input).parent().parent().find(".preview-zone");
          var boxZone = $(input)
            .parent()
            .parent()
            .find(".preview-zone")
            .find(".box")
            .find(".box-body");

          wrapperZone.removeClass("dragover");
          previewZone.removeClass("hidden");
          boxZone.empty();
          boxZone.append(htmlPreview);
        };

        reader.readAsDataURL(input.files[0]);
      }
    }

    function reset(e) {
      e.wrap("<form>").closest("form").get(0).reset();
      e.unwrap();
    }

    $(".dropzone").change(function () {
      readFile(this);
    });

    $(".dropzone-wrapper").on("dragover", function (e) {
      e.preventDefault();
      e.stopPropagation();
      $(this).addClass("dragover");
    });

    $(".dropzone-wrapper").on("dragleave", function (e) {
      e.preventDefault();
      e.stopPropagation();
      $(this).removeClass("dragover");
    });

    $(".remove-preview").on("click", function () {
      var boxZone = $(this).parents(".preview-zone").find(".box-body");
      var previewZone = $(this).parents(".preview-zone");
      var dropzone = $(this).parents(".form-group").find(".dropzone");
      boxZone.empty();
      previewZone.addClass("hidden");
      reset(dropzone);
    });
  </script>

<script>
  async function deleteBanner(bannerId) {
    try {
      const confirmed = await Swal.fire({
        text: "Are You Sure?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#099680", // Green color for confirm button
        cancelButtonColor: "#dc3545", // Red color for cancel button
        confirmButtonText: "Yes",
        cancelButtonText: "Cancel",
      });

      if (confirmed.isConfirmed) {
        const response = await axios.post("/admin/deleteBanner", {
          bannerId: bannerId,
        });

        if (response.data.success === true) {
          const Toast = Swal.mixin({
                  toast: true,
                  position: "top-end",
                  showConfirmButton: false,
                  timer: 3500,
                });

                Toast.fire({
                  icon: "success",
                  title: "Banner deleted.",
                });
                setTimeout(() => {
                  location.reload();
                }, 3500);
        }
      }
    } catch (error) {
      console.error("Error:", error);
      Swal.fire({
        icon: "error",
        title: "Oops...",
        text: "Something went wrong.",
      });
    }
  }
</script>



  <%-include("../admin/leyouts/footer.ejs")%>