<%-include("../admin/leyouts/header.ejs")%>

    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Add images</h5>
                                <p class="card-title-desc">Fill out the form below to add images.</p>

                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="floatingFirstnameInput"
                                                    placeholder="Enter Your First Name">
                                                <label for="floatingFirstnameInput">First Name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="floatingLastnameInput"
                                                    placeholder="Enter Your Last Name">
                                                <label for="floatingLastnameInput">Last Name</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-control">
                                                <input type="file" class="form-control" data-buttonname="btn-secondary">
                                            </div>
                                            <!-- <div class="form-floating mb-3">
                                            <input type="email" class="form-control" id="floatingemailInput" placeholder="Enter Email address">
                                            <label for="floatingemailInput">Email address</label>
                                        </div> -->
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3">
                                                <select class="form-select" id="floatingSelectGrid"
                                                    aria-label="Floating label select example">
                                                    <% if(categoryData.length> 0){

                                                        for( let i=0;i<categoryData.length;i++){ %>
                                    
                                                    <option selected>Open this select menu</option>
                                                    <option value="<%= categoryData[i].name %>"> <%= categoryData[i].name %></option>
                                                    <% } }else{ %>

                                                    <option value="">No Categories</option>
                                
                                                        <% } %>
                                                </select>
                                                <label for="floatingSelectGrid">Works with selects</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-primary w-md">Submit</button>
                                    </div>
                                </form>
                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Gallery image details</h4>
                                <p class="card-title-desc">
                                    View and manage details of gallery images in the table below.
                                </p>

                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>image</th>
                                                <th>Clint</th>
                                                <th>Event type</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

            </div>
        </div>
    </div>


    <%-include("../admin/leyouts/footer.ejs")%>