<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © JoFilms.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Crafted with <i class="mdi mdi-heart text-danger"></i> by <a
                        href="https://1.envato.market/themesdesign" target="_blank">BashOps</a>
                </div>
            </div>
        </div>
    </div>
</footer>

</div>
<!-- end main content-->

</div>
<!-- END layout-wrapper -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- JAVASCRIPT -->
<script src="/admin/assets/libs/jquery/jquery.min.js"></script>
<script src="/admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/admin/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="/admin/assets/libs/simplebar/simplebar.min.js"></script>
<script src="/admin/assets/libs/node-waves/waves.min.js"></script>
<!-- <script src="assets/libs/dropzone/min/dropzone.min.js"></script> -->


<!-- jquery.vectormap map -->


<script src="/admin/assets/js/pages/dashboard.init.js"></script>

<script src="/admin/assets/js/app.js"></script>

</body>


</html>